.container {
  /* margin-top: 25px;
  margin-bottom: 24px; */
  display: flex;
  gap: 24px;
  align-items: center;
  flex-wrap: wrap;
}
.filter-button__container {
  display: flex;
  gap: 24px;
  align-items: center;
  /* flex-wrap: wrap; */
}
.filter-button {
  all: unset;
  cursor: pointer;
  display: flex;
  gap: 5px;
  align-items: center;
  border-radius: 5px;
  background: rgba(217, 217, 217, 0.65);
  padding: 8px;
  color: #828282;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.filter-button img {
  width: 15px;
  height: 15px;
}
.filter-button span {
  color: #000;
}
.reset-all-filters {
  color: #ff5252;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 8px;
}
