.errorText {
  animation: error 0.2s ease-out;
}
.email-input {
  font-family: "Souliyo-Regular";
  color: red;
}

.input[type=checkbox]{
  transform: scale(2);
}

@keyframes error {
  0% {
    transform: translateX(-10px);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  0% {
    transform: translateX(0px);
  }
}

.spinner {
  min-height: 24px;
  min-width: 24px;
  max-height: 24px;
  max-width: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 2px solid lightgrey;
  border-top-color: gray;
  animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
