.container {
  /* height: 100%; */
  width: 100%;
  margin-bottom: 25px;
}
.no-rotate {
  transform: rotate(0deg);
}
.rotate {
  transform: rotate(180deg);
}
.open {
  display: block;
}
.close {
  display: none;
}
.button {
  display: flex;
  gap: 5px;
  align-items: center;
}
.margin-top-style {
  margin-bottom: 15px;
}
.button p {
  color: #000;
  text-align: start;
  /* font-family: SourceSansProRegular; */
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
